
<div class="row ">
    <div class="col-lg-8 " style="margin: auto;">
        <br>
        <br>
        <br>
        <br>
        <!-- <form (ngSubmit)="onAddTask(tf.value)" #tf="ngForm"> -->
            <div *ngIf="users===null">"There is no user in app"</div>
            <ul class="list-group">
              <li [ngClass]="!user.accstatus? 'alert-warning':'alert-success'" 
              class="list-group-item list-group-item-action" 
              *ngFor="let user of users; let i =index" 
              (click)="onToggleactiveStatus(i)"     >
                    <div >{{user.username}}      <a class=" float-right"> Click to <a class="alert-link">{{user.accstatus? 'deactivate' : 'activate' }}</a> the user</a> </div>  </li>
              </ul>
        <!-- </form> -->
              <hr>
    </div>
          
   
</div>
